.EU-note {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 30px;
    border: 1px solid #ccc;
    /* height: 30px; */
}
  
  .image {
    flex: 1;
    margin: 10px;
  }
  
  .image img {
    max-width: 100%;
    height: auto;
  }
  
  .text {
    text-align: center;
    flex-basis: 100%;
  }
  

h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
}

.text-component {
    padding: 20px;
    margin: 20px;
    text-align: justify;
    /* border: 1px solid #ccc; */
}